body,
html {
    /* height: 100% !important; */
    min-height: 100% !important;
}

body {
    position: relative;
}

.hidden {
    display: none !important;
}

.form-wrapper {
    width: 300px;
    height: 72.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mapid {
    height: 76vh;
    margin: 2rem;
}

#map-filter {
    padding-bottom: 6.5rem;
}

.hidden {
    display: none;
}

.form-control {
    margin: 0 0.3rem;
}

#query-button::before {
    content: "\f002";
    font-family: FontAwesome;
    padding-right: 0.6rem;
}

.station-title h1 {
    font-size: 2.3rem;
    text-decoration: underline;
}

.review-avatar-img {
    height: 6rem;
    width: 4.5rem;
}

.btn-station {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.active {
    border: 1px solid yellow;
}

#edit-form {
    width: 90%;
}

.warning {
    border: 1px dashed red;
}

#create-form input {
    height: 8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

#create-form button {
    height: 3rem;
}

.avatar {
    box-shadow: 1px 1px 4px black;
}

.avatar,
.avatar img {
    border-radius: 8px;
}

.fuel-type {
    padding: 2rem;
    margin: 1rem;
    background-color: #7d7f82;
    border-radius: 8px;
    box-shadow: 1px 1px 4px black;
    color: white;
}

.fuel-type>li {
    font-weight: bold;
}

.price-icon {
    margin-left: -1rem;
    height: 3rem;
}

.prices li {
    list-style: none;
}

a {
    color: #6c757d;
}

a:hover {
    color: #F7941D;
}

.custom-popup .leaflet-popup-content-wrapper {
    color: #F7941D;
    font-size: 12px;
    text-align: center;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: #6c757d;
}

.leaflet-popup-close-button {
    display: none;
}

.btn.btn-secondary {
    background-color: #6c757d;
    box-shadow: #F7941D;
    border: 0;
    margin: 3px;
}


.btn-secondary:hover,
.btn-outline-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: #F7941D !important;
    outline: none !important;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F7941D !important;
}


.btn.btn-primary {
    background-color: #D2C6D2;
    color: #212529;
    box-shadow: 5px 4px 4px 0px rgba(0, 31, 63, 0.5);
    border: none;
    margin: 3px;
}


.btn.btn-outline-primary {
    box-shadow: #5B9BBE;
    border: 1px solid #5B9BBE;
    color: #0A5781;
    margin: 3px;
}

.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #4550B4 !important;
    color: white;
    outline: none !important;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #C1B5A5 !important;
}

.btn-outline-danger {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-danger:hover,
.btn-outline-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #f3d503 !important;
    color: white;
    outline: none !important;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #C1B5A5 !important;
}

.form-control:focus {
    border-color: #F7941D;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F7941D;
}

.form-control {
    margin: 3px;
}

.dashboard-wrapper {
    height: 72vh;
}

#dashboard-container {
    padding-bottom: 12rem;
}

footer {
    background-color: #6c757d;
    color: #FFF;
    text-align: center;
    bottom: 10;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    height: 4vh;
}

footer p {
    padding-top: 1vh;
}